body {
   background-image: url('img/blue.jpg');
   background-attachment: fixed;
   /*background-color: gray;*/
   color: #000305;
   font-size: 87.5%;
   text-align: left;
   font-family: Arial, 'Lucida Sans Unicode';     
}
#header {
	margin-top: 0px;
	margin-bottom: 0px;
}
#content {
    margin-top: 0px;
    margin-bottom: 0px;
}
#footer{
    clear: both;
    color: black;
    background-color: darkslategrey;
    height: 50px;
  
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 0px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    letter-spacing: -2px;
    width: 100%; 
    
}
.punchline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold:
    color: #C69C6D;
    padding-left: 20px;
    padding-top: -5px;
    
}

a{
        text-decoration: none;
}

a:link, a:visited{
    color: #FF8C00;
}

a: hover, a:activated{
    background-color: #FF8C00;
    color: #FFF;
}

.body{
    margin: 0 auto;
    width: 70px;
    clear: both;
}

.mainheader img{ 
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 0%;
}

.mainheader nav{
    background-color: #2F4F4F;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0;
    margin-top: 0;
    
}

.mainHeader nav ul{
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li{
    float: left;
    display: inline;

}

#nav{
    height: 40px;
    background-color: chocolate;
    color: black;

}

#topsidebar{
    margin-top: 5px;
    height: 100px;
    width: 200px;
    color: black;
    background-color: white;
    float: right;
    
}

#middlesidebar{
    margin-top: 5px;
    height: 150px;
    width: 200px;
    color: black;
    background-color: white;
    float: right;
}

#bottomsidebar{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 155px;
    width: 200px;
    color: black;
    background-color: white;
    float: right;

}

#topcontent{
    margin-top: 5px;
    width: 570px;
    height: 200px;
    float: left;
    color: black;
    background-color: white;

}

#bottomcontent{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 570px;
    height: 210px;
    float: left;
    color: black;
    background-color: white;

}